doctype html
html(ng-app='jg')
  head
    title= title
    meta(charset='utf-8')
    meta(name='description', content='The official Jeremy Greer site; the guy who does JavaScript, not that doofus from Heroes.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    //- header
    include header.html

    //- page content
    div(ng-view)

    //- library scripts
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-route/angular-route.js')
    //- script(src='/bower_components/angular-resource/angular-resource.js')

    //- app
    script(src='/js/app.js')
    script(src='/js/controllers/HeaderCtrl.js')
    script(src='/js/controllers/IndexCtrl.js')
    script(src='/js/controllers/ResumeCtrl.js')