body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row {
  position: relative;
}

.square {
    border: 2px solid #000;
    border-radius: 6px;
    width: 43px;
    height: 43px;
    line-height: 43px;
    margin: 3px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 0px 5px#000;
    color: #fff;
}

.val-2048 { background-color: rgb(250, 250, 0); }
.val-1024 { background-color: rgb(225, 225, 25); }
.val-512 { background-color: rgb(200, 200, 50); }
.val-256 { background-color: rgb(175, 175, 75); }
.val-128 { background-color: rgb(150, 150, 100); }
.val-64 { background-color: rgb(125, 125, 125); }
.val-32 { background-color: rgb(100, 100, 150); }
.val-16 { background-color: rgb(75, 75, 175); }
.val-8 { background-color: rgb(50, 50, 200); }
.val-4 { background-color: rgb(25, 25, 225); }
.val-2 { background-color: rgb(0, 0, 250); }












