doctype html
html
  head
    title= 2048
    link(rel='stylesheet', href='/lab/2048/style.css')
  body
    a(href='/#/lab') back to the lab
    h1= 2048
    div(id='grid')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/lab/2048/2048.js')