<div class="container" ng-controller="ContactCtrl">
    <div class="page-header">
        <h1>Contact Info <small>of nit cat noc</small></h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>I would love for you to contact me, but you have to promise you're human.</p>
            <form ng-submit="submitForm()">
                <button class="btn btn-default">I'm a <em>real</em> boy!</button>
            </form>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Address</dt>
                <dd>{{ contactInfo.address }}</dd>

                <dt>Email</dt>
                <dd><a ng-href="mailto:{{ contactInfo.email }}">{{ contactInfo.email }}</a></dd>

                <dt>Phone</dt>
                <dd class="text-warning">
                    <span
                        id="phone"
                        data-toggle="tooltip"
                        title="I never answer."
                        data-placement="right"
                        >{{ contactInfo.phone }}</span>
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Sites</h2>
            <p>I'll save you the hassle of googling me.</p>
            <ul class="list-unstyled">
                <li><a href="https://github.com/reergymerej">GitHub</a></li>
                <li><a href="https://www.npmjs.org/~reergymerej">npm</a></li>
                <li><a href="http://stackoverflow.com/users/1319850/blurd">Stack Overflow</a></li>
                <li><a href="http://mean-greer.blogspot.com/">Blogspot</a></li>
                <li><a href="https://twitter.com/reergymerej">Twitter</a></li>
                <li><a href="https://www.facebook.com/wordToTheBlurd">Facebook</a></li>
            </ul>
        </div>
    </div>
</div>