<section class="container">
    <div class="page-header">
        <h1>The Lab <small>unpolished experiments</small></h1>
    </div>

<!--     <div>
        <h3><a href="#">Real Boy</a></h3>
        <div>An Angular directive for use as an alternative to Captcha.</div>
    </div> -->

    <div class="row">
        <div class="col-md-12">
            <h3><a href="/lab.cube">Cube</a></h3>
            <p>A Rubik's cube built with <a href="http://threejs.org/">three.js</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3><a href="/lab.2048">2048</a></h3>
            <p>I've been playing <a href="http://gabrielecirulli.github.io/2048/">this game</a> a lot recently.  It's cool how such a simple game can be so fun.  I got to thinking about what type of algorithm was used to move the tiles around and decided to take a stab at it.</p>
        </div>
    </div>
</section>