<div class="container" ng-controller="MusicCtrl">
    <div class="page-header">
        <h1>Music <small>Watch out, Beethoven.</small></h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>I used to make a <em>lot</em> of music.  This is the official <small>incomplete</small> archive.</p>
        </div>
        <div class="col-md-6" ng-repeat="song in songs">
            <!-- <h3>{{ song }}</h3> -->
            <audio controls preload="none">
                <source src="{{ song }}", type="audio/mpeg">
                Your browser sucks.
            </audio>
        </div>
    </div>
</div>