<div class="container" ng-controller="">
    <div class="page-header">
        <h1>Music <small>Watch out, Beethoven.</small></h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>I used to make a <em>lot</em> of music.  This is the official archive.</p>
        </div>
        <div class="col-md-6">
            <audio controls>
                <source src="/music/Death of Recorded Music/01-001-Aleric.mp3", type="audio/mpeg"></audio>
            </audio>
        </div>
    </div>
</div>