<div class="container" ng-controller="">
    <div class="page-header">
        <h1>Portfolio <small>stuff I made</small></h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Willy <small><a href="https://github.com/reergymerej/willy">GitHub</a> <a href="https://www.npmjs.org/package/willy">npm</a></small></h3>
            <p>Willy is an assertion library designed to be simple and readable.  <a href="http://chaijs.com/">Chai</a> and <a href="https://github.com/visionmedia/should.js/">Should</a> didn't feel as natural as they aimed to be and ended up distracting from the code.  While studying <a href="http://visionmedia.github.io/mocha/">Mocha</a>, I thought it would be fun to write my own.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Texas Ranger <small><a href="https://github.com/reergymerej/texas-ranger">GitHub</a> <a href="https://www.npmjs.org/package/texas-ranger">npm</a></small></h3>
            <p>This is an npm module for walking directories in search of files with a certain extension.  It works asynchronously and recursively and uses <a href="http://www.adequatelygood.com/JavaScript-Module-Pattern-In-Depth.html">the module pattern</a> to expose global module settings.</p>
        </div>
    </div>
</div>