<div class="container" ng-controller="">
    <div class="page-header">
        <h1>Portfolio <small>stuff I made</small></h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Texas Ranger <small><a href="https://github.com/reergymerej/texas-ranger">GitHub</a> <a href="https://www.npmjs.org/package/texas-ranger">npm</a></small></h3>
            <p>This is an npm module for walking directories in search of files with a certain extension.  It works asynchronously and recursively and uses <a href="http://www.adequatelygood.com/JavaScript-Module-Pattern-In-Depth.html">the module pattern</a> to expose global module settings.</p>
        </div>
    </div>
</div>