<div class="container" ng-controller="ResumeCtrl">
    <div class="page-header">
        <h1>Resume <small>Jeremy Greer</small></h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <small><em>This page is built dynamically from the <a href="/resume.json">JSON version</a> of the resume.</em></small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Skills</h3>
            <div class="row">
                <div ng-repeat="skillGroup in skillGroups" class="col-md-{{ 12 / skillGroupCount }}">
                    <ul class="list-unstyled">
                        <li ng-repeat="skill in skillGroup">
                            {{ skill }}
                        </li>
                    </ul>
                </div>
            </div>

            <h3>Experience</h3>
            <div ng-repeat="job in resume.experience">
                <a ng-href="#{{ job.company }}"></a>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{ job.company }}</h4>
                        {{ job.title }} <small>{{ job.dates }}</small>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="bullet in job.bullets">
                                {{ bullet }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <h3>Military</h3>
            <div class="well">
                <h4>{{ resume.military.branch }}</h4>
                {{ resume.military.title }} <small>{{ resume.military.dates }}</small>
            
            </div>
        </div>
    </div>
</div>