<html>
  <head>
    <style>
      body { margin: 0; }
      canvas { width: 100%; height: 100% }
      #message {
        height: 42px;
        padding: 0em 1em;
        position: fixed;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <div id="message">rotate camera: arrows<br>
    rotate planes: r, l, u, d, f, b</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/threejs/r69/three.min.js"></script>
    <script src="/lab/cube/index.js"></script>
  </body>
</html>